@{
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт для управління студентами. Інформація про курси, запис, оцінки та студентів. StudentManagementWebApplication - Ваш ідеальний вибір для навчання та успіху.">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Сайт для управління студентами</title>
    <link rel="icon" type="image/x-icon" href="https://picsum.photos/id/238/200">
    <style>
        .fixed-contact-info {
            position: fixed;
            top: 0;
            right: 0;
            max-width: 200px;
            height: 100%;
            background-color: #f8f9fa;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="display-4">Ласкаво просимо на наш сайт для вашого навчання</h1>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <h2>Курси</h2>
                    <p>На сторінці "Курси" ви можете знайти інформацію про доступні курси, їхні описи та вимоги. Виберіть курс, який вас цікавить, та розпочніть своє навчання.</p>
                    <a class="btn btn-primary" href="/Courses">Детальніше</a>
                </div>

                <div class="mb-4">
                    <h2>Студенти</h2>
                    <p>Розділ "Студенти" містить особисті дані студентів, включаючи ім'я, контактну інформацію та інші важливі відомості.</p>
                    <a class="btn btn-primary" href="/Students">Детальніше</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-4">
                    <h2>Записи на курси</h2>
                    <p>Секція дозволяє вам здійснювати запис на обрані курси та перевіряти ваш розклад занять.</p>
                    <a class="btn btn-primary" href="/Enrollments">Детальніше</a>
                </div>

                <div class="mb-4">
                    <h2>Оцінки</h2>
                    <p>"Оцінки" розкривають ваш академічний прогрес. Тут ви можете переглядати отримані оцінки.</p>
                    <a class="btn btn-primary" href="/Grades">Детальніше</a>
                </div>
            </div>
        </div>

    <div class="fixed-contact-info bg-light p-4">
        <h3>Контакти</h3>
        <p>Телефон: +9 876-543-2100</p>
        <p>Email: example@gmail.com</p>
    </div>
</body>
</html>
